.card{
  padding: 0 10px;
  .cardBody{
    margin: 10px 0;
    display: flex;
    gap: 10px;
    button{
      width: 100px;
      height: 38px;
      border-radius: 60px;
      background: none;
      cursor: pointer;
      &:nth-child(1){
        border: 2px solid red;
      }
      &:nth-child(2){
        border: 2px solid green;
      }
    }
  }
}